* {
    font-family: monospace;
}

:root {
    --number-colour: grey;
    --operand-colour: orange;
    --font-color: black;
    --hover-colour: red;
    --equals: green;
    --display: white;
}

.calculator-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 50px;

}

.calculator {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 300px;
    row-gap: 2px;
    column-gap: 6px;
    background-color: darkgrey;
    padding: 15px;
    border-radius: 10px;
    border: 3px solid  black;
}

.display  {
    grid-column: span 4;
    overflow: hidden;
}

.calculator-button.equals, .back {
    grid-column: span 2;
}

.calculator-button {
    border: 3px solid black;
    border-radius: 2px;
    height: 100px;
    font-size: 2rem;
}

.number, .decimal, .clear, .back {
    background-color: var(--number-colour);
}

button:hover {
    border-color: var(--hover-colour);
}

.operand {
    background-color: var(--operand-colour);
}

.equals {
    background-color: var(--equals);
}

button:active {
    transform: translateY(4px);
}

.display  {
    border: 3px solid black;
    border-radius: 2px;
    text-align: right;
    padding: 10px;
    font-size: 2rem;
    background-color: var(--display);
}